*.pyo
.cache/
.mr.developer.cfg
b.sh
sys/
*minitage*
*~
*.pyc
*.swp
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.wpr
.*.cfg
.installed.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
include/
lib/
fake-eggs/
parts/
dist/
var/



# OSX
.DS_Store
