*.pyo
.cache/
.mr.developer.cfg
b.sh
sys/
*minitage*
*~
*.py[co]
*.swp
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.wpr
.*.cfg
.installed.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
include/
/lib*
fake-eggs/
parts/
dist/
var/
.coverage
/htmlcov/
*.log

# OSX
.DS_Store
pip-selfcheck.json
.idea
/share
