language: python
dist: xenial
sudo: false
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
services:
  - xvfb      
matrix:
  include:
    - python: "2.7"
      env: PLONE_VERSION=4.3.x
    - python: "2.7"
      env: PLONE_VERSION=5.0.x
    - python: "2.7"
      env: PLONE_VERSION=5.1.x
    # - python: "2.7"
    #   env: PLONE_VERSION=5.2.x
    # - python: "3.7"
    #   env: PLONE_VERSION=5.2.x
    #   dist: xenial
    #   sudo: true
cache:
  pip: true
  directories:
  - eggs
  - downloads
  - $HOME/buildout-cache
before_install:
# install chrome webdriver
  - mkdir webdriver;
    wget https://github.com/mozilla/geckodriver/releases/download/v0.20.0/geckodriver-v0.20.0-linux64.tar.gz;
    tar -xzf geckodriver-v0.20.0-linux64.tar.gz -C webdriver;
    wget https://chromedriver.storage.googleapis.com/2.40/chromedriver_linux64.zip;
    unzip chromedriver_linux64.zip -d webdriver;
    export PATH=$PATH:$(pwd)/webdriver;
  - mkdir -p $HOME/{eggs,downloads}
  - ./bootstrap.sh test-$PLONE_VERSION.cfg
install:
  - bin/buildout -N -t 20 -c test-$PLONE_VERSION.x.cfg
  - pip install zest.pocompile
  - pocompile src
before_script:
  - 'export DISPLAY=:99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - sleep 3
script:
# Run code-analysis, except on Python 3.6, which mysteriously fails to find zc.buildout.
  - python --version 2> /dev/stdout | grep 3.6 || bin/code-analysis
  - bin/test --all $TEST_OPTIONS
after_success:
  - bin/createcoverage
  - pip install -q coveralls
  - coveralls
