[buildout]
extends = 
    https://raw.github.com/collective/buildout.plonetest/master/test-5.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
package-name = collective.googleanalytics
package-extras = [test]
versions = versions
parts +=
    coverage
    omelette
    release
#    i18ndude
#    rebuild_i18n-sh

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
interpreter = ${buildout:directory}/bin/zopepy

[release]
recipe=zc.recipe.egg
eggs = ${instance:eggs}
    collective.dist
    zest.releaser
    zest.pocompile
scripts =
    fullrelease
    postrelease
    lasttagdiff
    prerelease
    release
    longtest
    rst2html.py
    rst2latex.py
    rst2newlatex.py
    rst2pseudoxml.py
    rst2s5.py
    rst2xml.py
    rstpep2html.py

[code-analysis]
directory = ${buildout:directory}/src/collective/googleanalytics
pre-commit-hook = True
flake8-ignore = E501
flake8-max-complexity = 30
debug-statements = True

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755
